backend/src/main/xsd/tree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="vragen">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vraag" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="vraag">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="conversionid" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:boolean"/>
	<xs:element name="tree">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="node" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="or">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="noderef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="noderef">
		<xs:complexType>
			<xs:attribute name="value" use="required" type="xs:boolean"/>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="description"/>
				<xs:choice>
					<xs:element ref="and"/>
					<xs:element ref="or"/>
					<xs:element ref="value"/>
					<xs:element ref="vragen"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="conversionid" type="xs:string"/>
	<xs:element name="and">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="noderef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
