frontend/src/main/resources/wsdl/backend.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ax2770="http://dakkapelx.facts.re.rws.nl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://dakkapelx.facts.re.rws.nl">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dakkapelx.facts.re.rws.nl">
            <xs:complexType name="Node">
                <xs:sequence>
                    <xs:element minOccurs="0" name="antwoord" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="definitieRuleRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="node" type="ax2770:Node"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Vraag">
                <xs:sequence>
                    <xs:element minOccurs="0" name="antwoord" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vraagId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="definitieRuleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="vraag" type="ax2770:Vraag"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="node" type="ax2770:Node"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="definitieRuleServiceRequestMessage">
        <wsdl:part name="parameters" element="ax2770:definitieRuleRequest"/>
    </wsdl:message>
    <wsdl:message name="definitieRuleServiceResponseMessage">
        <wsdl:part name="parameters" element="ax2770:definitieRuleResponse"/>
    </wsdl:message>
    <wsdl:portType name="DefinitieServicePortType">
        <wsdl:operation name="definitieRuleService">
            <wsdl:input message="ax2770:definitieRuleServiceRequestMessage" wsaw:Action="urn:definitieRuleService"/>
            <wsdl:output message="ax2770:definitieRuleServiceResponseMessage" wsaw:Action="urn:definitieRuleServiceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DefinitieServiceSoap11Binding" type="ax2770:DefinitieServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="definitieRuleService">
            <soap:operation soapAction="urn:definitieRuleService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DefinitieServiceSoap12Binding" type="ax2770:DefinitieServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="definitieRuleService">
            <soap12:operation soapAction="urn:definitieRuleService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DefinitieServiceHttpBinding" type="ax2770:DefinitieServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="definitieRuleService">
            <http:operation location="definitieRuleService"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DefinitieService">
        <wsdl:port name="DefinitieServiceHttpSoap11Endpoint" binding="ax2770:DefinitieServiceSoap11Binding">
            <soap:address location="http://172.31.145.87:9778/services/DefinitieService.DefinitieServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DefinitieServiceHttpsSoap11Endpoint" binding="ax2770:DefinitieServiceSoap11Binding">
            <soap:address location="https://172.31.145.87:9458/services/DefinitieService.DefinitieServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DefinitieServiceHttpsSoap12Endpoint" binding="ax2770:DefinitieServiceSoap12Binding">
            <soap12:address location="https://172.31.145.87:9458/services/DefinitieService.DefinitieServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DefinitieServiceHttpSoap12Endpoint" binding="ax2770:DefinitieServiceSoap12Binding">
            <soap12:address location="http://172.31.145.87:9778/services/DefinitieService.DefinitieServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="DefinitieServiceHttpsEndpoint" binding="ax2770:DefinitieServiceHttpBinding">
            <http:address location="https://172.31.145.87:9458/services/DefinitieService.DefinitieServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="DefinitieServiceHttpEndpoint" binding="ax2770:DefinitieServiceHttpBinding">
            <http:address location="http://172.31.145.87:9778/services/DefinitieService.DefinitieServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>